@using damacana.Models;

@{
    ViewBag.Title = "Home Page";
    
}



<body style="background-image: url(http://img0.mxstatic.com/wallpapers/e10be71dcff8d56497a3d30561b6e301_large.jpeg); ">





    <h3 style="color:white"> DAMACANA COM 'a Hoş Geldiniz! </h3>
    <hr />
    <div class="fadein">
        <img class="top-object" data-src="holder.js/64x64" alt="64x64" src="http://www.ambalaj.org.tr/files/images/anadolucam_2014.jpg" data-holder-rendered="true" style="width: 145px; height: 110px;">
        <img class="top-object" data-src="holder.js/64x64" alt="64x64" src="http://www.ambalaj.org.tr/files/images/anadolucam_2014.jpg" data-holder-rendered="true" style="width: 145px; height: 110px;">
        <img class="top-object" data-src="holder.js/64x64" alt="64x64" src="http://www.ambalaj.org.tr/files/images/anadolucam_2014.jpg" data-holder-rendered="true" style="width: 145px; height: 110px;">
        <img class="top-object" data-src="holder.js/64x64" alt="64x64" src="http://www.ambalaj.org.tr/files/images/anadolucam_2014.jpg" data-holder-rendered="true" style="width: 145px; height: 110px;">
        <img class="top-object" data-src="holder.js/64x64" alt="64x64" src="http://www.ambalaj.org.tr/files/images/anadolucam_2014.jpg" data-holder-rendered="true" style="width: 145px; height: 110px;">
    </div>   
</body>