@model damacana.Models.Product
@{
    ViewBag.Title = "SaveProduct";
}

<h2>SaveProduct</h2>


@using (Html.BeginForm("ProductList", "Home", FormMethod.Post))
{<div class=" alert alert-success" role="alert"> <b> Kaydedildi  </b></div>}
<a href="@Url.Action("ProductList")"> Go to List</a>